<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="45592InternationalFabricM.fID-T" Publisher="CN=3A3725BF-0795-4BB7-89E5-AA99FF490905" Version="1.0.1.0" />
  <mp:PhoneIdentity 
    PhoneProductId="94f149e2-8b5b-4684-bb6e-f797b857d972" 
    PhonePublisherId="00000000-0000-0000-0000-000000000000"
  />
  <Properties>
    <DisplayName>fID-T</DisplayName>
    <!-- <DisplayName>Reader App</DisplayName> -->
    <PublisherDisplayName>International Fabric Machines</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BLE.Client.UWP.App">
      <uap:VisualElements DisplayName="Reader App" Description="fID-T, a CS108 C# Demo adjustment for use by International Fabric Machines." BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped"/>
          <uap:Rotation Preference="landscapeFlipped"/>
        </uap:InitialRotationPreference>
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <DeviceCapability  Name="bluetooth" />  
  </Capabilities>
</Package>